header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    box-shadow: 2px 2px 2px 2px;
}

header h1{
    font-size: 60px;
    color: blue;
}

header h1 span{
    color: palevioletred;
}

ul{
    list-style: none;
}

#nav_links ul{
    display: flex;
    gap: 30px;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: brown;
    font-size: 30px;
}

a:hover{
    box-shadow: 0 0 0 0.625em rgba(0, 0, 0, 0.1) inset 0 0 0.625em rgba(255, 255, 255, 0.6);
    background-color: rgba(107, 93, 84, 0.678);
    color: rgba(0, 35, 122, 0.7);
}
.container h1{
    display: flex;
    justify-content: center;
    padding: 100px;
    font-size: 100px;
   color: white;
}

.container{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR35L5cJlKRWowuZ_a0Da24OYk4wUh0IMPcbw&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#slogan{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#scholar{
    display: flex;
    padding: 10%;
    gap: 50px;
}

.life h3{
    font-size: 50px;
}

.life p{
    font-size: 40px;
}

.activities-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.activities{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

#activities h2{
    display: flex;
    justify-content: center;
    font-size: 100px;
}

#music h3{
    font-size: 30px;
}

#writing h3{
    font-size: 30px;
}

#dance h3{
    font-size: 30px;
}

#students{
    margin: 5%;
}
#students h2{
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.future h3{
    font-size: 50px;
}

.current h3{
    font-size: 50px;
}

.aluminai h3{
    font-size: 50px;
}

#contact{
    margin: 10%;
}
#contact h3{
    display: flex;
    justify-content: center;
    font-size: 100px;
}

#contact p{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#text{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 90%;
    font-size: 35px;
}

#text tr{
    background-color: blue;
}

#text th{
    padding-top: 12px;
    padding-bottom: 12px;
}
#text td{
    border: 1px;
    padding: 8px;
}

#text tr:hover{
    background-color: black;
    color: whitesmoke;
}

